@charset "utf-8";
body { margin:0; padding:0; width:100%; background: #fff url(images/header_bg_2.gif) top repeat-x;}
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}

/* main */
.main { width:99%; padding:0; margin:110px 10px 10px 10px;}
/********** header **********/
.header { height:187px; width:1000px; margin:0 auto;}
/* logo */
.logo { padding:0; margin:0; width:461px; float:left;}
/* menu */	
.menu { padding:0; margin:40px 0 0 0; width:531px;  float:right;}
.menu ul { height:44px; padding:10px 15px 0px 15px; margin:0; list-style:none; border:0;}
.menu ul li {width:80px; float:left; border-right:1px dashed #757575;  padding:0px 5px; margin:10px 0; background:url(images/menu_line.gif) no-repeat right; text-align:center;}
.menu ul li a { color:#fff; font:normal 13px  Arial, Helvetica, sans-serif; text-decoration:none; line-height:1.2em; padding:0; margin:0;}
.menu ul li a.active { color:#ff0000; font:bold 13px Arial, Helvetica, sans-serif; text-decoration:underline;}
.menu ul li a:hover { color:#ff0000; font:bold 13px Arial, Helvetica, sans-serif; text-decoration:none; }

/* block header */
.block_header {}
.block_header2 { width:1000px; height:85px; background:url(images/bg_header2.gif) top no-repeat; padding:0; margin:0 0 20px 0;}
.block_header2 h2 { font: normal 22px  Tahoma, Geneva, sans-serif; color:#4e4a38; width:150px; float:left; padding:30px 0 0 30px; margin:0;}
.block_header2 p  { font: normal 15px Arial, Helvetica, sans-serif; color:#898989; width:350px; float:right; padding:30px 0 0 0; margin:0;}
.block_header2 .buttonss { width:200px; float:right; margin:0; padding:30px 0 0 0;}
.block_header2 .buttonss a { font: bold 11px Tahoma, Geneva, sans-serif; color:#444444; border:1px solid #e7e7e7; background:#c6c6c6; padding:3px 5px; margin:0 5px;}
.block_header2 .buttonss a:hover { color:#fff; background:#e30f0f; text-decoration:none;}
/* slider */
.slider {  height:600px; width:1000px; margin:0 0 20px 0; padding:0;}
.slider2 {  height:600px; width:1000px; margin:0 0 0 0; padding:0;}

.block_header h2 { text-align:right; color:#4c4c4c; font:bold 19px Arial, Helvetica, sans-serif; margin:0; padding:40px 10px 10px 10px; line-height:1.4em;}
.block_header p {text-align:right; color:#4c4c4c; font:normal 13px  Arial, Helvetica, sans-serif; margin:0; padding:10px; line-height:1.8em;}
.block_header a { color:#ff0000; text-decoration:underline;}
.slider div.img { float:left; padding:0; margin:0;}

/* header panel */
.header_panel { background:url(images/header_text_bg.gif) top no-repeat; padding:0; width:1000px; height:107px; margin:0;}
.header_panel p { font: normal 13px Arial, Helvetica, sans-serif; color:#5b5b5b; padding:5px 5px; margin:0; line-height:1.8em;}
.header_panel img { float:left; margin:5px 5px; padding:0;}
.header_panel .bloga { width:280px; float:left; margin:20px 5px 15px 20px; padding:0 10px;}

/********** body **********/
.body { background: url(images/body_bg.gif) top repeat-y; padding:0; width:1000px; margin:10px auto 0 auto;}
.body h2 { color:#4e4a38; font:normal 22px  Tahoma, Geneva, sans-serif; border-bottom:1px solid #d8d8d8; margin:5px 0; padding:10px 5px;}
.body h4 { color:#4e4a38; font:normal 22px  Tahoma, Geneva, sans-serif;  margin:5px 0; padding:10px 5px;}
.body h3 { color:#c01f1f; font:normal 20px Georgia, "Times New Roman", Times, serif; margin:5px 0; padding:5px;}
.body p { font:normal 11px  Arial, Helvetica, sans-serif; color:#414141; line-height:1.8em; padding:5px; margin:0;}
.body p.greey { color:#5e5e5e;}
.body span { font: normal 15px Arial, Helvetica, sans-serif; color:#898989; line-height:1.8em; padding:5px; margin:0;}
.body a { text-decoration:underline; color:#ff0000; line-height:1.8em;}
.body a.biig { text-decoration:underline; font:bold 13px Arial, Helvetica, sans-serif; color:#ff0000; line-height:1.8em;}
.body em { font: italic 13px Arial, Helvetica, sans-serif; color:#8d8d8d;}
.body_small { width:280px; float:left; margin:20px 5px 15px 20px; padding:0 10px;}
.body_small ul { font: normal 11px Arial, Helvetica, sans-serif; color:#ff0000; list-style:none; margin:5px 0; padding:0;}
.body_small li { padding:2px; margin:0;}
.body_big { width:605px; float:left; margin:20px 5px 15px 20px; padding:0 10px;}
.body_big img { float:left; margin:5px 10px; padding:0;}
.body_big ul { font: normal 11px Arial, Helvetica, sans-serif; color:#404040; list-style:none; margin:5px 20px; padding:0;}
.body_big li { background:url(images/ul_li_Featu.gif) left no-repeat; padding:2px 20px; margin:0;}

/********** footer **********/
.footer { margin:0 auto; padding:0; background:#5f5f5f url(images/footer_bg.gif) top repeat-x;}
.footer_resize {  margin:0 auto; padding:40px 0; width:1000px;}
.footer ul { margin:0; padding:0 10px; list-style:none; float:left;}
.footer img { display:inline; margin:5px 10px; padding:0;}
.footer ul li { margin:0; padding:0 10px; float:left;}
.footer p { margin:0; padding:0 20px; float:right; color:#b7b7b7; font:normal 11px  Arial, Helvetica, sans-serif; line-height:1.8em;}
.footer a { color:#fff; font:normal 11px  Tahoma, Geneva, sans-serif; text-decoration:none; line-height:1.8em;}
.footer a:hover { text-decoration:underline;}

/********** contact form **********/
.form { float:left; width:560px; margin-top:40px; margin-left:10px;}

/********** contact form **********/
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#F00;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:100px;  padding:5px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#6e6e6e; text-transform:capitalize;}
#contactform label span {  font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:370px; border:1px solid #d1d1d1; margin:5px 0; padding:5px 2px; height:8px; background:#fff;}
#contactform textarea { width:370px; border:1px solid #d1d1d1; margin:10px 0; padding:2px; background:#fff; height:250px;}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 100px; border:0; color:#FFF;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em; width:auto;}

p.clr, .clr { clear:both; padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px dashed #c7c7c7; padding:10px 0 0 0; margin:0 0 10px 0; background:none; list-style:none;}
li.line, .line { border-top:1px solid #d9d9d9; padding:0; margin:10px 0; background:none; list-style:none;}


.cnum{
    font-family:"Consolas","Courier New","Courier";

}
.link_menu_table{
    margin: 0 auto;
    display:inline-table;
    padding-top:0px;
    text-align:center;
    width:100%;
}

.Columnauno {
    padding: 8px;
    background: #e8edff url(img/gradback.png) repeat-x;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    text-align: center;
}

.headerAlignment {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url(img/gradhead.png) repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
    text-align: center;
}

.tabla_astro {

    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.0em;
    font-style: normal;
    border-collapse:separate;
}
.cabezera_tabla_astro {

  padding:7px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;

}

.cuerpo_tabla {
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;

}

.calendarButton, .calendarButton .fc-event-skin, .calendarButton a {
background-color: white;
border-color: blue;
color: red;
font-size: 10px;
}
