<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="sistema-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/sistema</jta-data-source>
    <class>be.Actividad</class>
    <class>be.Cambio</class>
    <class>be.CanjeOrdenCompra</class>
    <class>be.Cliente</class>
    <class>be.ClientePotencial</class>
    <class>be.ColorProducto</class>
    <class>be.Conductor</class>
    <class>be.ContratoFumigacion</class>
    <class>be.CuentaContable</class>
    <class>be.Desarrollador</class>
    <class>be.DetalleAlmacenProductos</class>
    <class>be.DetalleAlmacenProductosCostos</class>
    <class>be.DetalleCambioProducto</class>
    <class>be.DetalleFacturaVentaProducto</class>
    <class>be.DetalleFormulacionInsumos</class>
    <class>be.DetalleFumigacionProducto</class>
    <class>be.DetalleInventarioUbicacionFisica</class>
    <class>be.DetalleOrdenCompraProducto</class>
    <class>be.DetallePromocionProducto</class>
    <class>be.DetalleServicioProducto</class>
    <class>be.DetalleUbicacionFisicaProducto</class>
    <class>be.DetalleVentaProducto</class>
    <class>be.DetalleVentaRapidaProducto</class>
    <class>be.DevolucionLima</class>
    <class>be.Empleado</class>
    <class>be.EstadoCanjeOrdenCompra</class>
    <class>be.EstadoFacturacionOrdenCompra</class>
    <class>be.EstadoIgv</class>
    <class>be.EstadoLetrasPagoCanje</class>
    <class>be.EstadoOrdenCompra</class>
    <class>be.EstadoOrdenSalidaDetalleAlmacenProductos</class>
    <class>be.EstadoProducto</class>
    <class>be.EstadoProductoCostoAlmacen</class>
    <class>be.EstadoVenta</class>
    <class>be.FacturaCompra</class>
    <class>be.FacturaVenta</class>
    <class>be.Formulacion</class>
    <class>be.GastosEconomicos</class>
    <class>be.Grupo</class>
    <class>be.GrupoUsuario</class>
    <class>be.GuiaRemicion</class>
    <class>be.IgvFactura</class>
    <class>be.IngresoMateriaPrimaTienda</class>
    <class>be.IngresoProductoTienda</class>
    <class>be.IngresosEconomicos</class>
    <class>be.InventarioFisico</class>
    <class>be.InventarioInicialSistema</class>
    <class>be.LetrasPagoCanje</class>
    <class>be.MateriaPrima</class>
    <class>be.MaterialProducto</class>
    <class>be.Mercado</class>
    <class>be.ModeloProducto</class>
    <class>be.MotivoTransladoFactura</class>
    <class>be.Negocio</class>
    <class>be.NotaCredito</class>
    <class>be.OrdenCompra</class>
    <class>be.OrdenSalidaDetalleAlmacenProductos</class>
    <class>be.OrdenSalidaDetalleAlmacenProductosCostos</class>
    <class>be.PagoCompraCredito</class>
    <class>be.PagoFacturaVentaCredito</class>
    <class>be.PagoVentaCredito</class>
    <class>be.PrecioProducto</class>
    <class>be.PrestamoProductoTiendaUsuario</class>
    <class>be.ProcedenciaProductoAlmacen</class>
    <class>be.ProduccionAlmacen</class>
    <class>be.Producto</class>
    <class>be.Promocion</class>
    <class>be.Proveedor</class>
    <class>be.ReporteDesratizacion</class>
    <class>be.ReporteFumigacion</class>
    <class>be.SalidaMateriaPrimaTienda</class>
    <class>be.SalidaProductoTienda</class>
    <class>be.Servicio</class>
    <class>be.StockMateriaPrimaTiendaOrigen</class>
    <class>be.StockProductoTiendaOrigen</class>
    <class>be.SubElemento</class>
    <class>be.TallaProducto</class>
    <class>be.Tienda</class>
    <class>be.TipoCliente</class>
    <class>be.TipoCuentaContable</class>
    <class>be.TipoElemento</class>
    <class>be.TipoEmpleado</class>
    <class>be.TipoPlaga</class>
    <class>be.TipoProducto</class>
    <class>be.TipoProveedor</class>
    <class>be.TipoServicio</class>
    <class>be.TipoVenta</class>
    <class>be.UbicacionFisica</class>
    <class>be.UnidadMedida</class>
    <class>be.UnidadTransporte</class>
    <class>be.Venta</class>
    <class>be.VentaRapida</class>
    <class>be.ZonaCiudad</class>
    <class>be.MarcaProducto</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
    <validation-mode>NONE</validation-mode>
    <properties/>
  </persistence-unit>
</persistence>
